/*
Colors
white:    #DEDEDE

dark_remix: #080504
light_remix: #6C87A4

orange:   #ff3c00;
red:      #b02e26
brown:    #825432
green2:   #3C4820

*/

body {
  background-color: #080504 !important;
  color: #DEDEDE;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: #1d1c21;
}
h3 {
  font-size: 1.4rem;
}

/* Header */
.logo {
  width: 100%;
  height: 100%;
}
.navbar {
  background-color: #151517 !important;
  border-bottom: 4px solid #ff3c00;;
  text-transform: uppercase;
}
.navbar-brand {
  color: #ff3c00 !important;
}

.navbar-brand,
.footer-logo {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-link {
  transition: 0.5s ease-out;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #DEDEDE !important;
}
.nav-link:hover {
  background-color:#ff3c00;;
  color: #151517 !important;
}

.nav-active {
  background-color:#ff3c00;;
  color: #151517 !important;
}

/* Content */
.card {
  border-radius: 0 !important;
  background-color: #151517 !important;
}

.card-title, .card-text {
  color: #D3DBCC !important;
}

.card-title-single_post {
  color: #D3DBCC !important;
  font-weight: 700;
  border-left: 4px solid #ff3c00;;
  padding: 8px 4px 8px 18px;
  margin: 12px 0 18px 0;
}

.card-title a {
  color: #D3DBCC;
  font-weight: 700;
  border-left: 4px solid #ff3c00;;
  padding-left: 8px;
}
.card-title a:hover {
  color: #ff3c00;;
}
.card-img-top {
  border: 0 !important;
  border-radius: 0 !important;
  display: block;
  overflow: hidden;
}
.card-img-top img {
  filter: brightness(75%); 
  border: 0 !important;
  border-radius: 0 !important;
  overflow: hidden;
  transition: transform .5s ease;
  width: 100%;
  margin: auto;
}
.card-img-top:hover img {
  transform: scale(1.2);
}

.post_info {
  color: #ff3c00;;
}

.category_span {
  font-family: 'Orbitron', sans-serif;
  color: #6C87A4;
  padding-left: 8px;
}

/* Sidebar */
.sidebar__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.profile {
  margin: 0;
  padding: 0;
}
.profile__avatar {
  display: block;
  /* width: 10rem;
  height: 10rem; */
  margin: 0 auto 2rem;
  position: relative;

  /* border: 1px solid #ECECEC; */
  /* box-shadow: 0 7px 20px rgba(255, 255, 255, .25 ); */
  /* border-radius: 50%; */
}
.profile__name {
  font-size: 1.8rem;
  text-align: center;
  color: #ff3c00;;
}
.profile__prof {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  color: #DEDEDE;
}
.profile__text {
  padding:  1rem;
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: #DEDEDE;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style-type: none;
  margin: 2rem 2rem;
  padding: 0;
}

.social__item {
  margin: 0.5rem .75rem;
}

/* Social icons */
.fab {
  font-size: 3.4rem !important;
}
.fa-facebook-square {
  color: #6c87c0;
}
.fa-telegram {
  color: #15AABF;
}
.fa-discord {
  color: #82C91E;
}
.fa-deviantart {
  color: #4C6EF5;
}
.fa-github-square {
  color: #15AABF;
}
.fa-lastfm-square {
  color: #B30117;
}

/* Footer */
.text-muted {
  background-color: #151517;
}

.footer-ty {
  list-style-type: none;
}