body{
  background-image: radial-gradient(#fdfcfb, #e2d1c3);
}
form {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 2px 1px 4px rgba(155, 77, 202, 0.7);
}

form input:focus {
  border: 0;
  transition: all 0.3s ease;
  box-shadow: 2px 1px 4px rgba(155, 77, 202, 0.7);
}
#booksList {
  display: grid;
}
.title {
  margin: 2rem;
  font-weight: 300;
}
.book {
  /*margin: 1rem;*/
  display: grid;
  grid-gap: 1rem;
  overflow: hidden;
  margin: 0 auto;
}

h5 {
  line-height: 0.6 !important;
}


@media (min-width: 40.0rem) {
  #booksList {grid-template-columns: repeat(3, 1fr); }
}
/* Larger than tablet screen */
@media (min-width: 80.0rem) {
  #booksList {grid-template-columns: repeat(5, 1fr); }
}
/* Larger than desktop screen */
@media (min-width: 120.0rem) {
  #booksList {grid-template-columns: repeat(7, 1fr); }
}